{% extends 'base.html' %}

{% block title %}
Обновление статьи
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Обновление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{article.title}}" placeholder="Введите называние"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анос">{{article.intro}}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{article.text}}</textarea><br>
        <input type="submit" class="btn btn -success" value="Обновить">
    </form>
</div>
{% endblock  %}